<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true, html: { onsubmit: 'return registerFormValidate()' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: 'form-control', onchange: "validateUniqueness('#{email_uniqueness_ckeck_validates_path}', this.id)" } %>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: 'form-control' } %>
    <%= f.input :password_confirmation,
                input_html: { autocomplete: "new-password", class: 'form-control' } %>
  </div>

  <div class="form-actions py-3">
    <%= f.button :submit, "Sign up", class: 'btn-outline-success btn-block', disabled: true %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
