
<style>
  body{
    margin-bottom: 0px !important;

  }

</style>
<div class="container" id="warp" style="margin-top:100px;">
  <div class="row">
    <%= render 'layouts/messages' %>
    <div class="col-md-12">
 
      <div class="form-sign-in">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>
          <div class="row">
            <div class="col-xs-12">
              <%= image_tag School.first.logo_url, class: "img-responsive logo-login" %>
            </div>
          </div>
              <div class="row text-center">
               <h1><%= t('start')%> </h1>
            </div>
          <div class="row">
            <div class="field form-group">
              <%= f.input :full_name, label: false, placeholder: t('full_name'), required: true %>
            </div>
          </div>
          <div class="row">
            <div class="field form-group">
              <%= f.input :email,
                            required: true,
                            autofocus: true,
                            label: false,
                            input_html: { autocomplete: "email", class: 'form-control', placeholder: t('email'),
                            onkeyup: "validateUniqueness('#{email_uniqueness_ckeck_validates_path}', this.id)" } %>
            </div>
          </div>
            <div class="row">
              <div class="field form-group">
                <%= f.input :password,
                            label: false,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password", placeholder: t('password') } %>
              </div>
          </div>
            <div class="row">
              <div class="field form-group">
                <%= f.input :password_confirmation,
                            label: false,
                            input_html: { autocomplete: "new-password", placeholder: t('confirm_password') } %>
              </div>
          </div>
          <div class="row">
            <div class="form-actions py-3">
              <%= f.button :submit, "Sign up", class: 'btn-outline-success btn-block', disabled: true %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if SiteConfig.get_cache.display_username_password_on_login %>
  <div class="container">
    <div class="col-md-offset-2 col-md-7 form-type">
      <div class="col-md-12">
        <p><button class="status_type_login">ฝ่ายบุคคล</button>&nbsp;&nbsp;&nbsp;<strong> User name:</strong> admin@bananacoding.com
        <strong>Password:</strong> password</p>
      </div>
      <div class="col-md-12" style="margin-top: 10px;">
        <p><button class="status_type_login">ฝ่ายการเงิน</button>&nbsp;&nbsp;<strong> User name:</strong> finance@bananacoding.com
        <strong>Password:</strong> password</p>
      </div>
    </div>
  </div>
<% end %>
<footer id="footer">
  <div class="container">
    <p class="text-center">© Copyright somsri.io</p>
  </div>
</footer>

