<style>
  body {
    margin-bottom: 0px !important;
    margin-top: 12%;
  }

  .message {
    color: #D0021B;
  }
</style>
<div id="new-password">
  <div class="container" id="warp">
    <div class="row">
      <%= render 'layouts/messages' %>
      <div class="col-md-12 box">
        <div class="form-sign-in">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, id: 'form' }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <div class="row">
            <div class="col-xs-12 text-center">
              <h2><%= t('invite_password.title') %></h2>
            </div>
          </div>
          <br />
          <div class="row">
          <div class="col-md-12">
            <label for="password"><%= t('password') %></label>
          </div>
          <div class="col-md-12">
               <div class="field form-group">
              <%= f.password_field :password, id: "password-input", autofocus: true, autocomplete: "off", class: "form-control input-login"%>
            </div>
          </div>
          </div>
          <div class="row">
          <div class="col-md-12">
            <label for="password"><%= t('new_password_confirmation') %></label>
          </div>
          <div class="col-md-12">
            <div class="field form-group">
              <%= f.password_field :password_confirmation, id: "confirm-password-input", autocomplete: "off", class: "form-control input-login", style: "margin-top:10px;"%>
            </div>
          </div>
          </div><br>
          <div class="row">
            <div class="sign-in actions text-center">
              <button id="submit-btn" class="btn btn-signin" type="submit"><%= t('invite_password.submit') %></button>
            </div>
          </div><br>
          <% if (@school.present?) && (@school_config.enable_rollcall) && (@school_config.roll_call_apk_url)  %>
          <div class="row">
            <div class="download_android">
              <a href="<%= @school_config.roll_call_apk_url %>" target="_blank"><i
                  class="fa fa-android"></i><%= t('download_somsri_rollcall') %></a>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="container">
        <p class="text-center">Copyright © 2017-2020 Banana Coding Co., Ltd. All rights reserved.</p>
    </div>
  </footer>
</div>