<style>
  body {
    margin-bottom: 0px !important;
    margin-top: 12%;
  }
  .message {
    color: red
  }
</style>
<div id="new-password">
  <div class="container" id="warp">
    <div class="row">
      <%= render 'layouts/messages' %>
      <div class="col-md-12 box">
        <div class="form-sign-in">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="row">
            <div class="col-xs-12 text-center">
              <h2><%= t('forgot_your_password') %></h2>
            </div>
          </div>
          <br />
          <div class="row">
          <div class="col-md-12">
            <label for="email"><%= t('email') %></label>
          </div>
          <div class="col-md-12">
            <div class="field form-group">
              <%= f.email_field :email, autofocus: true, class: "form-control input-login" %>
            </div>
          </div>
          </div>
          <div class="row">
            <div class="sign-in actions text-center">
              <button class="btn btn-signin" type="submit"> <%= t('send_me_reset_password_instructions') %></button>
            </div>
          </div><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="container">
        <p class="text-center">Copyright © 2017-2020 Banana Coding Co., Ltd. All rights reserved.</p>
    </div>
  </footer>
</div>