<%= simple_form_for @school, html: { id: 'form_purchase' }, url: purchase_renew_path(purchase_school_id: @school.id, cancel_check_plan: true), action: @school.new_record? ? 'create' : 'update' do |f| %>
  <div class="container plan" id="school-plan">
    <div class="select-plan" style="margin-left: -10%; margin-top: 130px;">
      <div class="row">
        <h1 class="font-style"><%= t('.purchases') %></h1>
      </div>
      <section class="sec_4">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row text-center">
                <fieldset class="form-group radio_buttons optional school_plan_id">
                  <input type="hidden" name="school[plan_id]" value="">
                  <% @plans.each do |plan| %>
                    <div class="col-md-6">
                      <div class="col-md-10 col-md-offset-1">
                        <h3>
                          <%= t(plan.package_name) %>
                        </h3>
                        <p>
                          <%= t('.' + plan.description) %>
                        </p>
                        <h3 class="price-l">
                          <%= number_to_currency(plan.price, precision: 0, unit: '') %> <%= t('.baht')%>/<%= plan.frequency == 'monthly' ? t('.month') : t('.year')%></h3><br>
                        <p><%= t('.package_monthly') %></p><br>
                        <div class="form-check">
                          <input class="form-check-input radio_buttons optional" type="radio" value="<%= plan.id %>" <%='checked' if @school.plan==plan %> name="school[plan_id]" id="school_plan_id_<%=plan.id %>">
                            <label class="collection_radio_buttons" for="school_plan_id_<%=plan.id %>"><%= t('.select') %></label>
                        </div>
                      </div>
                    </div>
                    <% end %>
                </fieldset>
              </div>
            </div>
          </div>
      </section>
      <section class="sec_5">
        <div class="row container">
          <div class="col-md-6 border-r layout">
            <div class="row">
              <h3 class="font-style">
                <%= t('.how_to_pay') %>
              </h3>
            </div>
            <div class="row">
              <ul class="nav nav-tabs nav-fill">
                <li class="nav-item nav-link boder text-center <%=" active " if @school.customer_info.blank?%>"><a class="tab-label" data-toggle="tab" href="#transfer-money" onClick="hidebutton(false)"><i class="fas fa-money-bill-wave" aria-hidden="true"></i><br><%= t('.transfer') %></a></li>
                <li class="nav-item nav-link  border text-center <%=" active " if @school.customer_info.present?%>"><a class="tab-labe" data-toggle="tab" href="#credit"onClick="hidebutton(true)"><i class="fa fa-credit-card" aria-hidden="true"></i><br><%= t('.credit_crad') %> </a></li>
              </ul>
            </div>
            <div class="row">
              <div class="tab-content">
                <%=f.simple_fields_for :bil_info, validate: false do |bil_form| %>
                  <div id="transfer-money" class="tab-pane fade <%=" in active " if @school.customer_info.blank?%>">
                    <div class="row">
                      <h3>
                        <%= t('.payment_details') %>
                      </h3>
                      <div class="col-md-12">
                        <b><%= t('.package') %></b>
                        <div class="col-md-12">
                          <b><%= t('.bank_account') %>:</b> <%= t('.banana') %>
                        </div>
                        <div class="col-md-12">
                          <b><%= t('.bank_account2') %>:</b> 511-2-1-14224-1
                        </div>
                        <div class="col-md-12">
                          <b><%= t('bank') %>:</b> <%= t('.kasikorn') %>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <b class="color-red"><%= t('.send_payment') %></b>
                      </div>
                      <div class="col-md-12">
                        <b class="color-red"><%= t('.contact_staff') %></b>
                      </div>
                      <%= bil_form.hidden_field :payment_method %>
                    </div>
                  </div>
                  <div id="credit" class="tab-pane fade <%=" in active " if @school.customer_info.present?%>"><br>
                    <div class="row">
                      <h3 class="font-style"><%= t('.credit_crad_info') %></h3>
                      <div class="col-md-11"><br>
                        <div id="token_errors"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-7">
                        <label class="form-control-label string required" for="school_bil_info_attributes_card_number"><i class="star"> * </i><%= t('.card_number') %><abbr title="required" style="display: none;">*</abbr></label>
                        <%= bil_form.input :card_number,label: false, placeholder: t('.card_number'), input_html: {data: {omise: 'number'}, value: @school.default_card.present? ? "**** **** **** #{@school.default_card.last_digits}" : nil,  maxlength: 16 } %>
                        <span class="fas fa-address-card errspan"></span>
                      </div>
                    </div>
                     <div class="row">
                      <div class="col-md-7">
                        <%= hidden_field_tag :update_card %>
                          <%= hidden_field_tag :omise_token , @school.customer_id %>
                            <label class="form-control-label string required" for="school_bil_info_attributes_cardholder_name"><i class="star"> * </i><%= t('.cardholder_name') %><abbr title="required" style="display: none;">*</abbr></label>
                            <%= bil_form.input :cardholder_name,label: false, placeholder: t('.cardholder_name'), input_html: {  data: {omise: 'holder_name'}, value: @school.default_card&.name }%>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label class="form-control-label string required" for="school_bil_info_attributes_exp_month"><i class="star"> * </i><%=t('.exp_day')%><abbr title="required" style="display: none;">*</abbr></label>
                        <%= bil_form.input :exp_month, label: false, placeholder: t('.my'), input_html: {  data: {omise: 'expiration_month'}, value: @school.default_card&.expiration_month,  maxlength: 2 } %>
                      </div>
                      <div class="col-md-3">
                        <label class="form-control-label string required" for="school_bil_info_attributes_cvv"><i class="star"> * </i><%=t('.cvv')%><i class="fas fa-info-circle"></i><abbr title="required" style="display: none;">*</abbr></label>
                        <%= bil_form.input :cvv, label: false, placeholder: t('.cvv'), input_html: { data: {omise: 'security_code' }, value: @school.default_card.present? ? "***" : nil,  maxlength: 3} %>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 layout2  pull-right">
            <div class="row">
              <h3 class="font-style">
                <%=t('.billing_info') %>
              </h3>
            </div>
            <div class="row">
              <ul class="nav nav-tabs">
                <li class="nav-item nav-link boder text-center active" id="showBr" onclick="branch(this.id)"><a class="tab-label"><%=t('.legal_entity') %></a></li>
                <li class="nav-item nav-link  border text-center" id="hideBr" onclick="branch(this.id)"><a class="tab-labe"><%=t('.individual') %></a></li>
              </ul>
            </div>
            <div class="row" id="validate-bil">
              <div class="tab-content"><br>
                <div class="row">
                  <div class="col-md-10">
                    <%= bil_form.input :name, label: t('.name') %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10">
                    <%= bil_form.input :address, label: t('.address') %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <%= bil_form.input :district, label: t('.district')  %>
                  </div>
                  <div class="col-md-5">
                    <%= bil_form.input :province, label: t('.province')  %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <%= bil_form.input :zip_code, label: t('.zip_code')  %>
                  </div>
                  <div class="col-md-5">
                    <%= bil_form.input :phone, label: t('.phone') %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <%= bil_form.input :tax_id, label: t('.tax_id')  %>
                  </div>
                  <div class="col-md-2">
                    <%= bil_form.input :branch, label: t('.branch')  %>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>
      <div class="row">
        <div class="col-xs-2  pull-right">
        <button type="button" class="btn btn-getStarted animated fadeInDown" id= "modal-confirm">ชำระเงิน</button>
        </div>
      </div>
      </div>
    </div>
    <!-- modal Confirm -->
    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 209px;">
      <div class="modal-dialog">
        <div class="modal-content modal-size">
          <div class="modal-header">
            <h3>ยืนยันการชำระ</h3>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>

      <script src="https://cdn.omise.co/omise.js"></script>
      <script>
        $(document).ready(function() {
          if($('#transfer-money').hasClass('active')){
            $('#modal-confirm').hide();
          }
          $('input').removeClass('is-valid');
          $('#school-plan abbr').hide();
          $('#modal-confirm').click(function() {
            $('#confirm').modal();
          })

        });
        // 4242424242424242 Number for test 
        Omise.setPublicKey("<%= Figaro.env.OMISE_PUPLIC_KEY %>");

        $("#form_purchase").submit(function() {
          var form = $(this);
          // Disable the submit button to avoid repeated click.
          form.find("input[type=submit]").prop("disabled", true);

          if ($('#credit').hasClass('active')) {
            form.find("input[name='school[bil_info_attributes][payment_method]']").val('credit')
            if ('<%= @school.customer_id.present? %>' == 'false') {
              CreateToken(form);
            } else {
              <% default_card = @school.default_card %>
              if (form.find("[data-omise=holder_name]").val() == '<%=default_card&.name %>' &&
                form.find("[data-omise=number]").val() == "**** **** **** <%= default_card&.last_digits %>" &&
                form.find("[data-omise=expiration_month]").val() == "<%= default_card&.expiration_month %>" &&
                form.find("[data-omise=expiration_year]").val() == "<%= default_card&.expiration_year %>") {
                form.get(0).submit();
              } else {
                $('input[name="update_card"]').val(true)
                CreateToken(form);
              }
            }
          } else {
            form.find("input[name='school[bil_info_attributes][payment_method]']").val('transfer money')
            form.get(0).submit();
          }
          // Prevent the form from being submitted;
          return false;
        });
      </script>