<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        <link href="https://fonts.googleapis.com/css?family=Akronim" rel="stylesheet">
        <%= render 'layouts/mailer_stylesheet' %>
  </head>
  <body>
   <div class="tab-content content-wall">
   <img src = "/somsri_logo.png"><br>
   ขอบคุณที่สมัครเข้าใช้งานระบบ <a href = "http://somsri.io">somsri.io</a>  <br>
   ท่านได้รับสิทธิใช้งานฟรี 3 เดือน ตั้งแต่วันที่ <p class = "f"><%="#{@date[:start_date].strftime("%d/%m/%Y")} ถึง #{@date[:end_date].strftime("%d/%m/%Y")}"%></p><br>
   สามารถเข้าระบบได้ที่ 
   <a href = "<%="http://#{@school.subdomain_name}.lvh.me:3000/users/sign_in"%>"><%="http://#{@school.subdomain_name}.lvh.me:3000/users/sign_in"%></a><br>
   <%="Email : #{@school.users.first.email}"%><br>
   สำหรับความในการนำข้อมูลเข้าระบบเช่น บุคคลากร หรือ นักเรียน<br>
   สมารถติดต่อทีมงานได้ที่ เบอร์ 053-200078<br>

</div>
  </body>
</html>
