<p>คำขอใช้พัสดุ : <%= @inventory.item_name %></p>
<p>ผลคำขอใช้พัสดุ : <%= @inventory.inventory_status %> </p>
<p>ปฏิเสธโดย : <%= @recipient.first_name_thai %> <%= @recipient.last_name_thai %></p>
<p>เหตุผล : <%= @inventory.comment %></p>
