<p>คำขอซ่อมพัสดุ : <%= @inventory_repiars.item_name %></p>
<p>ผลคำขอซ่อมพัสดุ : <%= @inventory_repiars.repair_status %> </p>
<p>ปฏิเสธโดย : <%= @recipients.first_name_thai %> <%= @recipients.last_name_thai %></p>
<p>เหตุผล : <%= @inventory_repiars.comment %></p>
