<div class="container plan" id="formplan">
  <div class="select-plan">
    <div class="row">
      <h1 class="font-slyte">Select Plan</h1>
    </div>
    <section class="sec_4">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="row text-center">
              <fieldset class="form-group radio_buttons optional school_plan_id">
                <input type="hidden" name="school[plan_id]" value="">
                <% @plans.each do |plan| %>
                  <div class="col-md-6">
                    <div class="col-md-10 col-md-offset-1">
                      <h3>
                        <%= t(plan.package_name) %>
                      </h3>
                      <p>
                        <%= plan.description %>
                      </p>
                      <h3 class="price-l">
                        <%= plan.price %> บาท/เดือน</h3><br>
                      <p>ใช้งานแบบออนไลน์ผ่านทาง สมศรี Cloud สามารถเข้าถึงได้จากทั้งที่โรงเรียนและที่บ้าน ข้อมูลไม่สูญหาย ระบบ backup ให้ อัตโนมัติ รับประกันตลอดอายุการใช้งาน </p><br>
                      <div class="form-check">
                        <input class="form-check-input radio_buttons optional" type="radio" value="<%= plan.id %>" <%='checked' if plan.frequency=='yearly' %> name="school[plan_id]" id="school_plan_id_<%=plan.id %>">
                        <label class="collection_radio_buttons" for="school_plan_id_<%=plan.id %>">Select</label>
                      </div>
                    </div>
                  </div>
                  <% end %>
              </fieldset>
            </div>
          </div>
        </div>
    </section>
    <section class="sec_5">
      <div class="row container">
        <div class="col-md-6 border-r layout">
          <div class="row">
            <h3 class="font-style">
              <%= t('.how to pay')%>
            </h3>
          </div>
          <div class="row">
            <ul class="nav nav-tabs nav-fill">
              <li class="nav-item nav-link boder active text-center"><a class="tab-label" data-toggle="tab" href="#transfer-money" onclick="enablevalidate('false')"><i class="fa fa-money" aria-hidden="true"></i><br>โอนเงิน</a></li>
              <li class="nav-item nav-link  border text-center"><a class="tab-labe" data-toggle="tab" href="#credit" onclick="enablevalidate('school_bil_info_payment_method')"><i class="fa fa-credit-card" aria-hidden="true"></i><br>บัตรเครดิต </a></li>
            </ul>
          </div>
          <div class="row">
            <div class="tab-content">
              <%=f.simple_fields_for :bil_info, validate: true do |bil_form| %>
                <div id="transfer-money" class="tab-pane fade in active">
                  <div class="row">
                    <h3>
                      <%= t('.pay detail')%>
                    </h3>
                    <%= bil_form.hidden_field :check, value: 'false' %>
                    <%= bil_form.hidden_field :payment_method, value: 'transfer money' %>
                  </div>
                </div>
                <div id="credit" class="tab-pane fade"><br>
                  <div class="row">
                    <h3 class="font-style">Credit crad Info</h3>
                    <div class="col-md-11">
                      <div id="token_errors"></div>
                    </div>
                  </div><br>
                  <div class="row">
                    <div class="col-md-7">
                      <%= bil_form.hidden_field :check, value: 'true', disabled: true %>
                      <%= hidden_field_tag :omise_token %>
                      <%= bil_form.input :payment_method, as: :hidden, input_html: { id: 'school_bil_info_payment_method', class: 'plan-select required', value: 'credit' }, required: true, disabled: true %>
                      <%= bil_form.input :cardholder_name, input_html: { id: 'school_bil_info_cardholder_name', class: 'plan-select', data: {omise: 'holder_name'} }, required: true, disabled: true%>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7">
                      <%= bil_form.input :card_number, input_html: { id: 'school_bil_info_card_number', class: 'plan-select', data: {omise: 'number'} }, required: true, disabled: true %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <%= bil_form.input :exp_month, label: 'exp month', input_html: { id: 'school_bil_info_exp_month', class: 'plan-select', data: {omise: 'expiration_month'},  maxlength: 4 }, required: true, disabled: true %>
                    </div>
                    <div class="col-md-2">
                      <%= bil_form.input :exp_year, label: 'exp year', input_html: { id: 'school_bil_info_exp_year', class: 'plan-select', data: {omise: 'expiration_year'},  maxlength: 8 }, required: true, disabled: true %>
                    </div>
                    <div class="col-md-2">
                      <%= bil_form.input :cvv, label: 'cvv', input_html: { id: 'school_bil_info_cvv', class: 'plan-select', data: {omise: 'security_code'} }, required: true, disabled: true %>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <script src="https://cdn.omise.co/omise.js"></script>
        <script>
          // 4242424242424242 Number for test 
          Omise.setPublicKey("<%= Figaro.env.OMISE_PUPLIC_KEY %>");
          $("#new_school").submit(function() {
            var form = $(this);
            if ($("#credit input").prop('disabled')) {

            } else {
              // Disable the submit button to avoid repeated click.
              form.find("input[type=submit]").prop("disabled", true);

              // Serialize the form fields into a valid card object.
              var card = {
                "name": form.find("[data-omise=holder_name]").val(),
                "number": form.find("[data-omise=number]").val(),
                "expiration_month": form.find("[data-omise=expiration_month]").val(),
                "expiration_year": form.find("[data-omise=expiration_year]").val(),
                "security_code": form.find("[data-omise=security_code]").val()
              };

              // Send a request to create a token then trigger the callback function once
              // a response is received from Omise.
              //
              // Note that the response could be an error and this needs to be handled within
              // the callback.
              Omise.createToken("card", card, function(statusCode, response) {
                if (response.object == "error") {
                  // Display an error message.
                  var message_text = "SET YOUR SECURITY CODE CHECK FAILED MESSAGE";
                  if (response.object == "error") {
                    message_text = response.message;
                  }
                  $("#token_errors").html('<div class="alert alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + message_text + '</div>');
                  $('#myModal').modal('hide');

                  // Re-enable the submit button.
                  form.find("input[type=submit]").prop("disabled", false);
                } else {
                  // Then fill the omise_token.
                  form.find("[name=omise_token]").val(response.id);

                  // Remove card number from form before submiting to server.
                  form.find("[data-omise=number]").val("");
                  form.find("[data-omise=security_code]").val("");

                  // submit token to server.
                  form.get(0).submit();
                };
              });


              // Prevent the form from being submitted;
              return false;
            }

          });
        </script>
        <div class="col-md-1">
        </div>
        <div class="col-md-5 layout2">
          <div class="row">
            <h3 class="font-style">
              <%=t('.Billing info') %>
            </h3>
          </div>
          <div class="row">
            <ul class="nav nav-tabs">
              <li class="nav-item nav-link boder text-center active" id="showBr" onclick="branch(this.id)"><a class="tab-label">นิติบุคคล</a></li>
              <li class="nav-item nav-link  border text-center" id="hideBr" onclick="branch(this.id)"><a class="tab-labe">บุคคลธรรมดา </a></li>
            </ul>
          </div>
          <div class="row" id="validate-bil">
            <div class="tab-content"><br>
              <div class="row">
                <div class="col-md-10">
                  <%= bil_form.input :name, label: t('.name'), input_html: { id: 'school_bil_info_name', class: 'plan-select'}, required: true %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10">
                  <%= bil_form.input :address, label: t('.address'), input_html: { id: 'school_bil_info_address', class: 'plan-select' }, required: true %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <%= bil_form.input :district, label: t('.district'), input_html: { id: 'school_bil_info_district', class: 'plan-select' }, required: true  %>
                </div>
                <div class="col-md-5">
                  <%= bil_form.input :province, label: t('.province'), input_html: { id: 'school_bil_info_province', class: 'plan-select' }, required: true  %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <%= bil_form.input :zip_code, label: t('.zip_code'), input_html: { id: 'school_bil_info_zip_code', class: 'plan-select' }, required: true  %>
                </div>
                <div class="col-md-5">
                  <%= bil_form.input :phone, label: t('.phone'), input_html: { id: 'school_bil_info_phone_number', class: 'plan-select' }, required: true  %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <%= bil_form.input :tax_id, label: t('.tax_id'), input_html: { id: 'school_bil_info_tax_id', class: 'plan-select' }, required: true  %>
                </div>
                <div class="col-md-2">
                  <%= bil_form.input :branch, label: t('.branch'), input_html: { id: 'school_bil_info_branch'} %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
      <div class="col-xs-8"></div>
      <div class="col-xs-4">
        <%= button_tag "create", type: 'button', class: 'btn btn-getStarted animated fadeInDown', id: 'modal' , disabled: true%>
          <%= button_tag "skip", type: 'button', class: 'btn btn-getStarted animated fadeInDown btn-gray' ,id: 'modal-skip'%>
      </div>
    </div>
    </div>
  </div>