<!DOCTYPE html>
<html>
   <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Akronim" rel="stylesheet">
    <%=  stylesheet_link_tag 'application_main', media: 'all' %>
    <%=  stylesheet_link_tag 'application_somsri', media: 'all' %>
    <%=  stylesheet_link_tag 'application_vacation', media: 'all' %>
    <%=  javascript_include_tag 'application_somsri' %>
  </head>
  <body class="blue-bg">
    <div class="container text-center align-self-stretch mt-125">
      <div class="content-scout p-0 m-0 border-radius border-1 border-width-thin">

        <div class="row bg-orange m-0 py-15 custom-shadow">
          <img class="max-w-100" src = "/somsri_logo.png">
        </div>

        <div class="row mb-30">
          <h1 class="py-10 color-black">สวัสดีค่ะ</h1> 
          <p>เนื่องจากคุณได้ทำหน้าที่ผู้สัมภาษณ์ให้กับ <%= @interview.candidate.full_name %></p>
          <p>ในวันที่ <%= @interview.date.strftime("%d/%m/%Y") %> เวลา <%= @interview.date.strftime("%H:%M") %> ที่ <%= @interview.location %></p>
          <p>ทางเราจึงขอให้ท่านกรอกแบบประเมินการสัมภาษณ์</p>
          <p>ตามลิ้งด้านล่าง</p><br>
          <a href="/evaluates/<%= @evaluate.link %>"> <button type="button" class ="btn btn-submit-scout border-radius m-0">กรอกแบบประเมิน</button> </a><br><br>
          <p class="row mt-10">ขอบคุณค่ะ</p>
          <p>HR @BananaCoding</p>
        </div>

      </div>
    </div>
  </body>
</html>