<!DOCTYPE html>
<html ng-app="somsri.payroll" lang="<%= @locale %>">

<head>
  <title><%= t('title') %></title>
  <%= csrf_meta_tags %>
  <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '5b8aadbe-ba44-42c5-9934-b676d1a46c0f', f: true }); done = true; } }; })();</script>
  <%= favicon_link_tag 'apple-touch-icon-57x57.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', size: '57x57' %>
  <%= favicon_link_tag 'apple-touch-icon-114x114.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', size: '114x114' %>
  <%= favicon_link_tag 'apple-touch-icon-72x72.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', size: '72x72' %>
  <%= favicon_link_tag 'apple-touch-icon-144x144.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', size: '144x144' %>
  <%= favicon_link_tag 'apple-touch-icon-60x60.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', size: '60x60' %>
  <%= favicon_link_tag 'apple-touch-icon-120x120.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', size: '120x120' %>
  <%= favicon_link_tag 'apple-touch-icon-76x76.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', size: '76x76' %>
  <%= favicon_link_tag 'apple-touch-icon-152x152.png', rel: 'apple-touch-icon-precomposed', type: 'image/png', size: '152x152' %>
  <%= favicon_link_tag 'favicon-196x196.png', rel: 'icon', type: 'image/png', size: '196x196' %>
  <%= favicon_link_tag 'favicon-196x196.png', rel: 'icon', type: 'image/png', size: '96x96' %>
  <%= favicon_link_tag 'favicon-196x196.png', rel: 'icon', type: 'image/png', size: '32x32' %>
  <%= favicon_link_tag 'favicon-196x196.png', rel: 'icon', type: 'image/png', size: '16x16' %>
  <%= favicon_link_tag 'favicon-196x196.png', rel: 'icon', type: 'image/png', size: '128x128' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="application-name" content="&nbsp;" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="<%= image_path('mstile-144x144.png') %>" />
  <meta name="msapplication-square70x70logo" content="<%= image_path('mstile-70x70.png') %>" />
  <meta name="msapplication-square150x150logo" content="<%= image_path('mstile-150x150.png') %>" />
  <meta name="msapplication-wide310x150logo" content="<%= image_path('mstile-310x150.png') %>" />
  <meta name="msapplication-square310x310logo" content="<%= image_path('mstile-310x310.png') %>" />
  <meta property="og:title" content="SOMSRI - THE SCHOOL SYSTEM TAILOR" />
  <meta property="og:image" content="https://somsri-website.s3-ap-southeast-1.amazonaws.com/images/top_main.png"/>    
  <meta property="og:description" content="ระบบบริหารโรงเรียนที่ทันสมัย เริ่มต้นใช้งานได้ง่าย จัดการโรงเรียนอย่างเป็นระบบ วิเคราะห์ข้อมูลสำหรับการวางแผน เชื่อมโยงผู้ปกครองด้วยช่องทางสมัยใหม่" />

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WV96B2B');</script>
  <!-- End Google Tag Manager -->

  <link href="https://fonts.googleapis.com/css?family=Maitree:400,700" rel="stylesheet">
  <%= stylesheet_link_tag 'application_payroll', media: 'all' %>
  <%= stylesheet_link_tag 'application_somsri', media: 'all' %>
  <%= javascript_include_tag 'application_payroll' %>
  <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
  <%= render 'layouts/translates' %>
  <%= javascript_include_tag 'application_translates' %>
  <%= javascript_include_tag 'bootstrap-table-en-US' %>
  <%= javascript_include_tag 'bootstrap-table-th-TH' %>

  <!-- Facebook Pixel Code -->
  <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '2706035716292164');
      fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=2706035716292164&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body ng-controller="mainCtrl as main">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WV96B2B"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <div class="top-bar-space"></div>
  <%= yield %>
</body>

</html>